html, body {
  background: #212121;
  font-family: 'Lucida Sans', Verdana, sans-serif;
  padding: 60px;
  color: white;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

h3 {
  font-size: 50px;
}

hr {
  opacity: .1;
}

input {
  background: #212121;
  border: 1px solid;
  color: white;
  font-size: 1.2rem;
  width: 100%;
}

.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card-grid h3 {
  font-size: 50px;
  display: block;
  width: 100%;
}

.card {
  align-content: center;
  margin: 19px;
  overflow: hidden;
}


.card p {
  font-size: 11px;
  padding: 5px;
  text-align: center;
}

.card img {
  height: 300px;
  width: 300px;
}
